pandas
numpy
matplotlib
seaborn
psycopg2-binary
telethon
sqlalchemy
databases
scikit-learn
scipy
python-dotenv
xgboost
mlflow
imblearn
tensorflow
shap
lime
mlflow
flask
click
flask_sqlalchemy
Flask-Migrate
pytest
dash
gunicorn