{% extends 'base.html' %}

{% block title %}Home {% endblock title %}

{% block content %}

<section class="pt-32 lg:px-20">
    <div class="flex flex-col justify-center">
        <h1 class="mb-4 text-4xl font-extrabold font-montserrat leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl xl:px-32 dark:text-white">Adey Innovations Inc</h1>
    </div>
</section>
<section class="py-8 lg:px-20">
    <div class="flex flex-col justify-center">
        <h1 class="mb-4 text-xl font-extrabold font-montserrat leading-none tracking-tight md:text-2xl lg:text-4xl xl:px-48 text-white">Enhancing Financial Security with Advanced AI Fraud Detection</h1>
        <p class="mb-6 text-lg font-normal text-white lg:text-xl sm:px-16 xl:px-48"> At <b>Adey Innovations Inc.,</b> we're redefining financial security with state-of-the-art fraud detection solutions for e-commerce and banking. Our platform leverages the power of advanced machine learning models, geolocation analysis, and transaction pattern recognition to accurately identify fraudulent activities and protect businesses from financial threats. Designed to handle the unique challenges of both online and bank credit transactions, our system offers real-time monitoring and reporting, empowering businesses to act swiftly and minimize risks. By integrating cutting-edge technology with seamless user experience, Adey Innovations Inc. is committed to building trust, preventing financial losses, and leading the future of secure financial technology for businesses and institutions worldwide.</p>
    </div>
</section>

{% endblock content %}