{% extends 'base.html' %}

{% block title %}Home {% endblock title %}

{% block content %}

<section class="">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Enhancing Financial Security with Advanced AI Fraud Detection</h1>
        <p class="mb-8 text-lg font-normal text-white lg:text-xl sm:px-16 lg:px-48">At <b>Adey Innovations Inc.,</b> we're redefining financial security with state-of-the-art fraud detection solutions for e-commerce and banking. Our platform leverages the power of advanced machine learning models, geolocation analysis, and transaction pattern recognition to accurately identify fraudulent activities and protect businesses from financial threats. Designed to handle the unique challenges of both online and bank credit transactions, our system offers real-time monitoring and reporting, empowering businesses to act swiftly and minimize risks. By integrating cutting-edge technology with seamless user experience, Adey Innovations Inc. is committed to building trust, preventing financial losses, and leading the future of secure financial technology for businesses and institutions worldwide.</p></p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <button>
                <a href="/create" class="inline-flex bg-slate-900 justify-center hover:text-white items-center py-5 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-slate-700 focus:ring-4 focus:ring-gray-400">
                    Create Transaction
                </a>  
            </button>
            <button>
                <a href="/fraud_analysis" target="_blank" class="inline-flex bg-slate-900 justify-center hover:text-white items-center py-5 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-slate-700 focus:ring-4 focus:ring-gray-400">
                    Checkout Dashboard
                </a>  
            </button>
            
        </div>
    </div>
</section>

{% endblock content %}