{% extends 'base.html' %}

{% block title %} Transaction History {% endblock title %}

{% block content %}

<section class="pt-20 pb-16 lg:px-20">
    <div class="flex flex-col justify-center">
        <h1 class="mb-4 text-xl font-extrabold leading-none tracking-tight md:text-2xl lg:text-3xl xl:px-48 text-white py-5">Transaction History</h1>
        <p class="mb-4 text-xl leading-none tracking-tight xl:px-48 text-white py-5">
            This is the newly created datasets the check the model, the last rows prediction result can be found here <a href="/result" class="hover:underline text-blue-500">Result</a>.
        </p>
    </div>
    <table border="1" class="text-sm bg-inherent text-gray-100 shadow-md rounded-lg overflow-hidden mx-auto">
        <tr>
            <th class="px-2 py-2 border-b border-gray-700">User ID</th>
            <th class="px-2 py-2 border-b border-gray-700">Signup Time</th>
            <th class="px-2 py-2 border-b border-gray-700">Purchase Time</th>
            <th class="px-2 py-2 border-b border-gray-700">Purchase Value</th>
            <th class="px-2 py-2 border-b border-gray-700">Device ID</th>
            <th class="px-2 py-2 border-b border-gray-700">Source</th>
            <th class="px-2 py-2 border-b border-gray-700">Browser</th>
            <th class="px-2 py-2 border-b border-gray-700">Sex</th>
            <th class="px-2 py-2 border-b border-gray-700">Age</th>
            <th class="px-2 py-2 border-b border-gray-700">IP Address</th>
            <th class="px-2 py-2 border-b border-gray-700">Lower Bound IP Address</th>
            <th class="px-2 py-2 border-b border-gray-700">Upper Bound IP Address</th>
            <th class="px-2 py-2 border-b border-gray-700">Country</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.user_id }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.signup_time }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.purchase_time }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.purchase_value }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.device_id }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.source }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.browser }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.sex }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.age }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.ip_address }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.lower_bound_ip_address }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.upper_bound_ip_address }}</td>
            <td class="px-2 py-2 border-b border-gray-700">{{ transaction.country }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
<section>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
        <button>
            <a href="/result" class="inline-flex bg-slate-900 justify-center hover:text-white items-center py-5 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-slate-700 focus:ring-4 focus:ring-gray-400">
                Check Fraud
            </a>  
        </button>
        
    </div>
</section>

{% endblock %}
